{% extends 'base.html' %}
{% block title %}Cadastrar{% endblock title %}

{% block content %}
    <h2>Cadastrar</h2>
    <form method="post">
        {% csrf_token %}
        
        <div class="form-group">
          {{ form.username.errors }}
          <label for="">Usuário: </label>
          {{ form.username }}
        </div>
        <div class="form-group">
          {{ form.password1.errors }}
          <label for="">Senha: </label>
          {{ form.password1 }}
        </div>
        <div class="form-group">
          {{ form.password2.errors }}
          <label for="">Confirmar Senha: </label>
          {{ form.password2 }}
        </div>

        <button type="submit">Cadastrar</button>
    </form>
{% endblock content %}